<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Skill Share{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Job finding platform</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'combined_list' %}">Jobs In google</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li> 
                    <li>
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" style="background:none; border:none; color:inherit; cursor:pointer;">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
